*{
	margin:0px;
	padding:0px;
	font-size:16px;
	font-family:geometos;
	box-sizing:border-box;
	overflow:hidden;
}
button{
	height:4.5rem;
	width:100%;
	border-radius:10px;
	font-size:1.4rem;
	cursor:pointer;
}
a{
	text-decoration:none;
	color:blue;
}

#appTitle{
	font-size:1.4rem;
	line-height:3.5rem;
	padding:0 20px;
}
#amount{
	font-size:1.2rem;
	padding:2px 5px;
}
.nav{
	height:4rem;
	width:100%;
	padding:5px 10px;
}

.appContainer{
	height:100%;
	width:100%;
	padding:5px 10px;
	margin:5px 0px;
}

.showFlags{
	height:4rem;
	width:100%;
	display:flex;
	justify-content:space-evenly;
}
.appSection{
	height:10%;
	width:100%;
	padding:5px 10px;
	margin:5px 0px;
}

.inputBox{
	height:4rem;
	width:100%;
	border:1px solid #ccc;
	border-radius:10px;
	padding-left:30px;
	box-sizing:border-box;
}

.inputContainer{
	height:5rem;
	width:100%;
	padding:5px 10px;
	margin:5px 0px;
	display:flex;
	justify-content:center;
	align-items:center;
}
.country{
	height:7rem;
	width:100%;
	display:flex;
	flex-wrap:wrap;
	justify-content:space-evenly;
	align-items:center;
	padding:5px 10px;
	margin:5px 0px;
}
.flagsF,.flagsT{
	height:2.5rem;
	width:25%;
	background-color:#ccc;
	border-radius:50px;
	display:flex;
	justify-content:center;
	align-items:center;	
}
.currency{
	height:2.5rem;
	width:65%;
	background-color:white;
	border-radius:50px;
	display:flex;
	justify-content:center;
	align-items:center;
}
.getValue{
	height:3rem;
	width:100%;
	display:flex;
	justify-content:center;
	align-items:center;
	padding:5px 10px;
	margin:5px 0px;
}
.output{
	height:2.8rem;
	width:100%;
	border-radius:50px;
	display:flex;
	justify-content:center;
	align-items:center;
}

.submiting{
	height:5rem;
	width:100%;
	display:flex;
	justify-content:center;
	align-items:center;
	padding:5px 10px;
	margin:5px 0px;
}

.account{
	height:100%;
	width:100%;
	border-radius:5px;
	padding:10px 20px;
	margin:10px auto;
	background-color:#ccc;
}
.log{
	height:3rem;
	width:100%;
	padding:5px;
	margin:5px 0px;
}
.others{
	height:2rem;
	width:100%;
	line-height:2rem;
	padding:5px;
	margin:5px 0px;
}

.links{
	height:6rem;
	width:100%;
	padding:10px 30px;
	margin:5px 0px;
}

select{
	height:2.5rem;
}

.currency select {
  appearance: none; /* Remove default styling */
  background-color:#ccc;
  color: black;
  padding-left:25px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius:50px;
  width: 100%;
  box-sizing: border-box;
}

/* Add a custom arrow */
.currency {
  position: relative;
  display: inline-block;
  border-radius:50px;
}

.currency::after {
  content: '▼';
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  color: black;
  font-size: 16px;
}

